<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% load staticfiles %}
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script async src='{% static "js/script.js" %}'></script>
        {% csrf_token %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">

        <title>{{project_name}}</title>

    </head>

  <body id="id_body">

    <div class="navbar navbar-inverse" role="navigation" style="">
        <div hidden="" class="alert alert-success text-center" style="opacity:0.9;width:100%;" id="message_success_id"><strong style="font-size:18px;">Отправка записанна!</strong></div>
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">{{project_name}}</a>
        </div>
        <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li style="margin-left:10px;margin-top: 8px;">
					<button type="button"
                            class="btn btn-danger"
                            id="id_run_report"
                            data-toggle="modal"
                            data-target="#myModal">Сформировать отчет</button>
				</li>
				<li style="margin-left:10px;margin-top: 8px;">
					<!--<label  class="btn btn-success">Безденежных А.О.</label>-->
                    <button type="button" onclick="window.location='{{admin.get_url}}'" class="btn btn-success" style="color:white;vertical-align:middle;"><b>{{admin.title}}</b></button>
				</li>
			</ul>
        
	        
        </div><!--/.navbar-collapse -->
      </div>
    </div>
 

    <div class="container" id="id_content">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3"><h2>Действия</h2><br>
         <div class="panel-group" id="accordion">
                <!--<div class="panel panel-default">
            <div class="panel-heading">

                <a data-toggle="collapse" data-parent="#accordion" href="#invoice_add" onclick="InvoiceShow()" id="invoice_id" style="text-decoration:none;">
                  <h4 class="panel-title">Принять накладную</h4>
                </a>

            </div>
            <div id="invoice_add" class="panel-collapse collapse">
              <div class="panel-body">
                <input type="text" placeholder="№ Накладной" class="form-control" id="invoice_doc_id"><br>

                <input type="text" placeholder="Модель" class="form-control" id="invoice_model_c_id"><br>

                <input type="text" placeholder="Колличество" class="form-control" id="invoice_count_id"><br>

                <select name="" id="invoice_type_id" class="form-control">
                  {%for i in type_c%}
                    <option value="{{i.type_cartridge}}">{{i.type_cartridge}}</option>
                  {%endfor%}
                </select><br>

                <input type="text" placeholder="Вид" value="Приход" class="form-control" id="invoice_status_id"><br>

                <button class="btn btn-success form-control" id="btn_add_invoice_id">Создать</button>
                <script>

                </script>

              </div>
            </div>
          </div>-->
                <div class="panel panel-default">
            <div class="panel-heading">

                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="DispathShow()" style="text-decoration:none;">
                  <h4 class="panel-title">Фильтр</h4>
                </a>

            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                  <form action="{{dispatch_filter_form.url}}" id="{{dispatch_filter_form.form_id}}" method="GET">
                      <table>
                          {%for i in dispatch_filter_form%}
                          <tr>
                              <td>{{i.label}}</td>
                              <td>{{i}}</td>
                          </tr>
                          {%endfor%}
                      </table>
                  </form>
                  <button class="btn btn-default" form="{{dispatch_filter_form.form_id}}" >Отфильтровать</button>
                 </div>
            </div>
          </div>

                <!--<div class="panel panel-default" id="statistic">
                    <div class="panel-heading">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseBalance" style="text-decoration:none;">
                      <h4 class="panel-title">Остатки на складе</h4>
                    </a>

                </div>
                    <div id="collapseBalance" class="panel-collapse collapse">
                  <div class="panel-body" id="panel_body_balance">
                    <span>Остатки за этот месяц: <span style="background-color: green;" class="badge">{{balance_for_month}}</span></span><br>
                    <span>Отправок за этот месяц: <span style="background-color: red;" class="badge">{{disp_for_month}}</span></span><br>
                    <span>Всего на складе: <span>{{balance}}</span></span>
                    <hr>
                     <div class="panel-group" id="accordion2">
                          <div class="panel panel-default">
                            <div class="panel-heading">

                                <a data-toggle="collapse" data-parent="#accordion2" href="#statistic_all_times" style="text-decoration:none;">
                                  <h4 class="panel-title"><span>Остаток по всем моделям(за все время)</span></h4>
                                </a>

                            </div>
                            <div id="statistic_all_times" class="panel-collapse collapse">
                              <div class="panel-body">

                                            <table class="table">
                                            {% for i in all_models_statistic %}
                                                <tr>
                                                    <td>{{i.model_c}}</td>
                                                    <td>{{i.count}} шт.</td>
                                                </tr>
                                            {% endfor %}
                                            </table>
                              </div>
                            </div>
                          </div>
                            <div class="panel panel-default">
                            <div class="panel-heading">

                                <a data-toggle="collapse" data-parent="#accordion2" href="#statistic_for_month" style="text-decoration:none;">
                                  <h4 class="panel-title"><span>Отправки по всем моделям(за месяц)</span></h4>
                                </a>

                            </div>
                            <div id="statistic_for_month" class="panel-collapse collapse">
                              <div class="panel-body">

                                            <table class="table">
                                            {% for i in statistics_for_month %}
                                                <tr>
                                                    <td>{{i.model_c}}</td>
                                                    <td>{{i.month_exp}} шт.</td>
                                                </tr>
                                            {% endfor %}
                                            </table>
                                            <hr>
                                            <span style="font-size:16px;"><b>Итого:  </b></span><span style="font-size:16px;">{{statistics_for_month_summ}} шт.</span>
                              </div>
                            </div>
                          </div>
                      </div>





                </div>
             </div><div id="panel_body_balance_end_tag" hidden=""></div>
                </div>-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSend" onclick="DispathShow()" style="text-decoration:none;">
                          <h4 class="panel-title">Отправка картриджей</h4>
                        </a>
                    </div>
                    <div id="collapseSend" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form action="" method="POST" id="create_disp_form_id">{% csrf_token %}
                                <div class="btn-group-vertical" style="margin-bottom: 15px;">

                    <label for="id_post_offices">Почтовое отделение</label><br>
                      <select class="form-control" name="post_office" id="id_post_offices" required="true">
                        {% for post_offices in post_officess %}
                        <option name="" value="{{post_offices.index}}">{{ post_offices.name|upper }} / {{post_offices.index}}</option>
                        {% endfor%}
                      </select><br>

                    <label for="id_model_cart">Модель картриджа</label><br>


                      <select class="form-control" name="model" id="id_model_cart" required="true">
                         {% for i in cartridges %}
                        <option value="{{i.model}}">{{i.model}}</option>
                        {% endfor%}
                      </select>



                      <br>

                    <label for="id_amount">Колличество</label><br>
                      <input name="amount" class="form-control" type="number" value="1" id="id_amount" min="1" max="20" required="true"><br>

                    <label for="id_date_send"> <b>Дата отправки</b>
                        <input type="date" class="form-control" name="date_disp" id="id_date_send" list="id_data_list" required="">
                            <datalist id="id_data_list">
                                <option id="id_opt_data_list">{{date_now}}</option>
                            </datalist>
                    </label>
        </form>
                            <button class="btn btn-success form-control" type="button" id="id_send" name="send">Отправить картридж</button>
                        </div>
                    </div>
                </div>
         </div>
        </div>
        <div class="alert alert-success text-center" id="success_dispath_id" style="position:fixed;top:0;left:0;opacity:2;width:100%;display:none;background-color:rgb(92, 184, 92);z-index:99999;">
            <strong style="font-size:18px;color:white;">Отправка записанна!</strong>
        </div>
      </div>
        <div class="col-md-9" id="id_table_content">
            <table class="table" style="width: 100%;" id="dispath_table"></table>
       </div>
       <div class="col-md-9" id="id_invoice_content" style="display:none;">
                <table class="table" style="width: 100%;" id="invoice_table">
                  <tr>
                    <td><span><b>№</b></span></td>
                    <td><span><b>Накладная №</b></span></td>
                    <td><span><b>Модель</b></span></td>
                    <td><span><b>Кол.</b></span></td>
                    <td><span><b>Дата</b></span></td>
                    <td><span><b>Отправитель</b></span></td>
                    <td><span><b>Удалить</b></span></td>
                  </tr>
                  {% for i in invoice %}
                  <tr>
                    <td><span>{{i.id}}</span></td>
                    <td><span>{{i.number_doc}}</span></td>
                    <td><span>{{i.model}}</span></td>
                    <td><span>{{i.count}} шт.</span></td>
                    <td><span><b>{{i.date_create_add|date:"d.m.Y" }}</b></span></td>
                    <td><span>{{request.user.username}}</span></td>
                    <td><span id="delete_invoice_id" class="close" onclick="DeleteInvoice('{{i.id}}')" title="Удалить">X</span></td>
                  </tr>
                  {% endfor %}
                </table>
               <span style="display:none">end_table2</span>
             </div>
          
        
    </div>

      <hr>
      <!-- Button trigger modal -->



      <footer>

      <!-- Button trigger modal -->




    
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script>dispatch = {% autoescape off %}{{dispaths2}}{% endautoescape %};</script>
  
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Выберите период отправки</h4>
      </div>

      <div class="modal-body">
          <form action="{{form_date_picker.url}}" method="GET" id="{{form_date_picker.id_form}}">
              <ul>
                  {%for i in form_date_picker%}
                    <li>{{i.label}}{{i}}</li>{{i.help_text}}
                  {%endfor%}
              </ul>

          </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" form="{{form_date_picker.id_form}}" class="btn btn-primary">Отправить</button>
      </div>

    </div>
  </div>
</div>
 
</body>
</html>